*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #808e9b; 
}

h1 {
  text-align: center;
  font-weight: lighter;
   margin-bottom: 0;
   font-size: 100px;
   border: 2px solid black;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-width: 10px;
   background-color: #000;
   color: #fff;
}

h3 {
	text-align: center;
	font-weight: solid;
	margin-top: 20px;
	font-size: 30px;
	color: #f1f2f6;
	font-family: 'Philosopher', sans-serif;
}

hr {
  width: 20%;
}

ul {
  font-size: 30px;
}

.list {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 50px;
  font-size: 75px;
  font-family: 'Tangerine', cursive;
}

.datalist {
	text-align: center;
	margin-top: 70px;
}

.para {
	margin-bottom: 10px;
	font-size: 60px;
}

strong {
	color: #f1f2f6;
}

strong:hover {
	cursor: pointer;
}